<div th:fragment="ticket">




  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Tickets</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
          <tr>
            <th>Record Number</th>
            <th>User Portal</th>
            <th>Category</th>
            <th>Description</th>
            <th>Priority</th>
            <th>Title</th>
          </tr>
          </thead>
          <tfoot>
          <tr>
            <th>Record Number</th>
            <th>User Portal</th>
            <th>Category</th>
            <th>Description</th>
            <th>Priority</th>
            <th>Title</th>
          </tr>
          </tfoot>
          <tbody>
          <tr th:each="ticket : ${informacion}">
            <td th:text="${ticket.record_no}"></td>
            <td th:text="${ticket.TIC_USERPORTAL_TB120}"></td>
            <td th:text="${ticket.OT_CATEGORIA_SPD}"></td>
            <td th:text="${ticket.TIC_DESCRIPCION_TB2000}"></td>

            <td th:text="${ticket.OT_PRIORIDAD_SPD}"></td>
            <td th:text="${ticket.OT_TITULO_TB250}"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>





</div>
