<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>SB Admin 2 - Tables</title>

	<!-- Custom fonts for this template -->
	<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link
			href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
			rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="css/sb-admin-2.min.css" rel="stylesheet">

	<!-- Custom styles for this page -->
	<link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

	<div th:replace="Component/Sidebar :: Sidebar"></div>

	<!-- Content Wrapper -->
	<div id="content-wrapper" class="d-flex flex-column">

		<!-- Main Content -->
		<div id="content">

			<div th:replace="Component/Topbar :: Topbar"></div>
			<!-- Begin Page Content -->
			<div class="container-fluid">

				<!-- Page Heading -->
				<div class="d-sm-flex align-items-center justify-content-between mb-4">
					<h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
					<a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#myModal" ><i
							class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
				</div>
				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<h1 class="h3 mb-2 text-gry-800">Tables</h1>
					<!-- DataTales Example -->
					<!-- Modal -->

					<!-- FinModal -->

					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Tickets</h6>
						</div>
						<div th:replace="Component/table/ticket :: ticket"></div>

				</div>
				<!-- /.container-fluid -->
			</div>
			<!-- /.container-fluid -->

		</div>
		<!-- End of Main Content -->

		<!-- Footer -->
		<footer class="sticky-footer bg-white">
			<div class="container my-auto">
				<div class="copyright text-center my-auto">
					<span>Copyright &copy; Your Website 2021</span>
				</div>
			</div>
		</footer>
		<!-- End of Footer -->

	</div>
	<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
	<i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	 aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
				<button class="close" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
			<div class="modal-footer">
				<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
				<a class="btn btn-primary" href="login.html">Logout</a>
			</div>
		</div>
	</div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/chart-area-demo.js"></script>
<script src="js/demo/chart-pie-demo.js"></script>

<!-- El Modal -->
<div class="modal fade" id="myModal">
	<div class="modal-dialog">
		<div class="modal-content">

			<!-- Encabezado del Modal -->
			<div class="modal-header">
				<h4 class="modal-title">Formulario Modal</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<!-- Cuerpo del Modal -->
			<div class="modal-body">
				<form id="modalForm">
					<div class="form-group">
						<label for="input1">Titulo</label>
						<input type="text" class="form-control" id="input1" name="titulo" placeholder="">
					</div>
					<div class="form-group">
						<label for="select1">Prioridad:</label>
						<select class="form-control" id="select1" name="prioridad">
							<option value="Alta">Alta</option>
							<option value="Media">Media</option>
							<option value="Baja">Baja</option>
						</select>
					</div>
					<div class="form-group">
						<label for="select2">Categoria del Trabajo:</label>
						<select class="form-control" id="select2" name="categoria">
							<option value="Reparaciones">Reparaciones</option>
							<option value="Seguridad">Seguridad</option>
							<option value="Limpieza">Limpieza</option>
						</select>
					</div>
					<div class="form-group">
						<label for="input2">Descripción</label>
						<input type="text" class="form-control" id="input2" name="descripcion" placeholder="">
					</div>
				</form>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="submitForm">Enviar</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
			</div>

		</div>
	</div>
</div>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
	$(document).ready(function() {
		$('#submitForm').click(function(event) {
			event.preventDefault();

			var jsonBody = {
				OT_TITULO_TB250: $('#input1').val(),
				OT_PRIORIDAD_SPD: $('#select1').val(),
				OT_CATEGORIA_SPD: $('#select2').val(),
				TIC_DESCRIPCION_TB2000: $('#input2').val(),
				TIC_USERPORTAL_TB120: "Metacontrol User",
				TIC_EMPRESAUSERPORTAL_TB120: ""
			};

			var jsonData = JSON.stringify(jsonBody);
			var apiUrl = '/api/tickets/guardar';

			$.ajax({
				url: apiUrl,
				type: 'POST',
				contentType: 'application/json',
				data: jsonData,
				success: function(response) {
					//alert('Ticket guardado exitosamente');
					window.location.href = '/';
				},
				error: function(xhr, status, error) {
					console.error('Error al guardar el ticket:', error);
				}
			});
		});
	});
</script>



</body>

</html>